<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DoT Url Shortener</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Url</th>
        <th>Shorten Code</th>
        <th>Clicks</th>
        <th>Sil</th>
      </tr>

      <% @urls.each do |url| %>
      <tr>
        <td><%= url.id %></td>
        <td><%= url.original_url %></td>
        <td><a href="/<%= url.short_url %>" target="_blank"><%= url.short_url %></a></td>
        <td><%= url.clicks %></td>
        <td><a href="/delete/<%= url.id %>">Sil</a></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
